[
    {rabbit, [
        {log, [
            {console, [
                {enabled, true},
                {level, debug}
            ]},
            {file, [
                {level, debug}
            ]}
        ]},
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/ca_certificate.pem"},
            {certfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/server_certificate.pem"},
            {keyfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/server_key.pem"},
            {depth, 8},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]},
        {auth_mechanisms, ['PLAIN', 'EXTERNAL']},
        {ssl_cert_login_from, common_name}
    ]},
 	{rabbitmq_web_stomp, [
        {ssl_config, [
            {port, 5674},
            {cacertfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/ca_certificate.pem"},
            {certfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/server_certificate.pem"},
            {keyfile, "/home/lbakken/issues/community.pivotal.io/web-stomp-client-cert/certs/server_key.pem"},
            {depth, 8},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]},
        {ssl_cert_login, true}
    ]},
    {rabbitmq_stomp, [
        {ssl_listeners, [61614]},
        {ssl_cert_login, true}
        %% {default_user, []},
        %% {implicit_connect, true}
    ]}
].
